<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="rickyabidin34.com.uas.realmakb">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="rickyabidin34.com.uas.realmakb.MainActivity"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
                android:name="rickyabidin34.com.uas.realmakb.presenter.RegisterActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name="rickyabidin34.com.uas.realmakb.presenter.ForgotPasswordActivity">
        </activity>
        <activity android:name="rickyabidin34.com.uas.realmakb.view.Form">
        </activity>
        <activity android:name="rickyabidin34.com.uas.realmakb.SplashScreen"
                  android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="rickyabidin34.com.uas.realmakb.presenter.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name="rickyabidin34.com.uas.realmakb.view.viewPager.IntroActivity">
        </activity>
    </application>

</manifest>